

/* @keyframes borderError {
  0% {
    border: 1px solid transparent;
    border-color: inherit;
  }
  50% {
    border: 1px solid red;
  }
  100% {
    border: 1px solid transparent;
    border-color: inherit;
  }
} */
@keyframes border {
  from {
    background-color: red;
  }
  to{
    background-color: white;
  }
}

.border-error {
  
  animation-name: border;
  animation-duration: 2s;
}

@keyframes fade-in-left {
  from {
    left:-100px;
    opacity:0;
  }
  to {
    left:0px;
    opacity:1;
  }
}

.fade-in-left-animation {
  animation-name: fade-in-left;
  animation-duration: 2s;
}
