@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant&family=Lato&display=swap');

// Setting fonts for headings and paragraphs

h1,h2,h3,h4,h5 {
  font-family: "Abril Fatface";
}

p {
  font-family: 'Lato';
}

// Desktop view, base px 18, multiplier of 1.2

@media only screen and (min-width: 1201px) {
  .large{
    font-size: 23.99px;
  }
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 44.79px;
  }
  h2 {
    font-size: 37.32px;
  }
  h3 {
    font-size: 31.1px;
  }
  h4 {
    font-size: 25.92px;
  }
  h5 {
    font-size: 21.6px;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 18px;
  }
}

// Mobile view, base px 16, multiplier of 1.125

@media only screen and (max-width: 1201px) {
  .large{
    font-size: 20px;
  }
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 28.83px;
  }
  h2 {
    font-size: 25.63px;
  }
  h3 {
    font-size: 22.78px;
  }
  h4 {
    font-size: 20.25px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 16px;
  }
}