$black: #1C1F20;
$grey: #646E74;
$tan: #F1C79A;
$green: #38876F;
$dark-green: #0E2D21;
$dark-grey: #606060;
$light-grey: #F4F4F4;
$lightish-grey: #D9D9D9;

.error{
  border: 1px solid red;
  background-color: rgba(255,0,0,.3);
}

.red {
  color: red;
}